{% extends 'starter-page.html' %}

{% load static %}

{% block content %}

 <h1 class="text-center">All Appoinmtents</h1>

<table class="table">

    <tr>
        <th>Names</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Date/Time</th>
        <th>Department</th>
        <th>Doctor</th>
        <th>Message</th>
        <th>Action</th>

    </tr>

    {% for appointment in allappointments %}

    <tr>
        <td>{{appointment.name}}</td>
        <td>{{appointment.email}}</td>
        <td>{{appointment.phone}}</td>
        <td>{{appointment.datetime}}</td>
        <td>{{appointment.Department}}</td>
        <td>{{appointment.Doctor}}</td>
        <td>{{appointment.Message}}</td>
        <td>
            <a href="/edit/{{appointment.id}}" class="btn btn-warning">Edit</a>
            <a href="/delete/{{appointment.id}}" class="btn btn-danger">Delete</a>
            <a href="" class="btn btn-success">Pay Via Mpesa</a>

        </td>



    </tr>

    {%endfor%}







</table>






















{% endblock %}